include ../../components/typography/title-section
include ../../components/input-base/input-base
include ../../components/buttons/btn-default/btn-default
include ../../components/soc-links-bottom/soc-links-bottom

-
  var inputs = [
    {
      extraClass: 'popup',
      name: 'email',
      placeholder: 'hello@gmai.com',
      label: 'Куда отправить презентацию?'
    },
    {
      extraClass: 'popup',
      name: 'phone',
      placeholder: '+7',
      label: 'Номер телефона'
    },
    {
      extraClass: 'popup',
      name: 'text',
      placeholder: '',
      label: 'Как вас зовут'
    },
    {
      extraClass: 'popup',
      name: 'text',
      placeholder: 'Например, 1 сентября в 14:00',
      label: ''
    },
    {
      extraClass: 'popup',
      name: 'phone',
      placeholder: '+7',
      label: 'Номер телефона <br>для уточнения данных'
    },
    {
      extraClass: 'popup',
      name: 'email',
      placeholder: 'hello@gmai.com',
      label: 'Куда выслать <br>расчет и материалы?'
    },
    {
      extraClass: 'popup',
      name: 'email',
      placeholder: 'hello@gmai.com',
      label: 'Куда выслать <br>КП и материалы?'
    },
    {
      extraClass: 'popup',
      name: 'email',
      placeholder: 'hello@gmai.com',
      label: ''
    }
  ];


section.popup.popup-prezent
  .popup__close
  .container
    .popup__content
      .popup__title
        +title-section-40-51('Игорь, мы отправили презентацию на указанную почту')
      a(href="#").popup__mail-logo
        picture
          source(
            srcset="img/popups/gmail-logo.jpg"
            data-srcset=`img/popups/gmail-logo.jpg` 
            media="(max-width: 768px)"
            type="image/webp"
          )
          source(
            srcset="img/popups/gmail-logo.jpg"
            data-srcset=`img/popups/gmail-logo.jpg` 
            type="image/webp"
          )
          img(src="img/popups/gmail-logo.jpg", data-src=`img/popups/gmail-logo.jpg` alt="mail-logo")
      .popup__subtitle
        .NSerif-28-42-reg Вы можете войти в нее отсюда
      .popup__text 
        | Если письма нет во входящих, проверьте папку 
        br
        | «Промоакции» или «Спам»:
        br 
        | письмо могло попасть туда по ошибке
section.popup.popup-feedback
  .popup__close
  .container
    .popup__content
      .popup__title
        +title-section-40-51('Игорь, спасибо за заявку!')
      .popup__subtitle
        .NSerif-28-42-reg Мы перезвоним вам в ближайшее время
  .popup__colored
    .container
      .popup__descr
        | А пока вы ждете звонка, 
        br
        span посмотрите презентацию о нашей компании 
        br
        | и узнайте, как получить скидку от 10 до 50% 
        br 
        | на бухгалтерское обслуживание
      .popup__descr
        .popup__form
          form(action="" id="popup" method="post" autocomplete="off").popup__form-content
            +input-base-email(inputs[0])
            .popup__btn
              +btn-default-submit('получить презентацию')
            .form-side__accept-conf
              include ../../components/accept-conf/accept-conf
section.popup.popup-call
  .popup__colored
    .popup__close
    .container.popup__body
      .popup__content
        .popup__subtitle
          .NSerif-28-42-reg Хотите перейти на бухгалтерское обслуживание в компанию, которую рекомендуют 95% клиентов?
        .popup__descr
          span Укажите контактные данные и удобное время для звонка 
          | Я позвоню вам и отвечу на все вопросы Мы работаем по будням с 09:00 до 18:00 
        .popup__form
          form(action="" id="popup" method="post" autocomplete="off")
            .popup__form-line
              +input-base(inputs[2])
              +input-base-phone(inputs[1])
            label(class="input-base__label") Выберите время для звонка
            .popup__form-line  
              .input-slide-wrap
                input(type="checkbox" value="none" id="input-slide" name="check" checked)
                .input-slide__now
                  p Сейчас 
                .input-slide
                  label(for="input-slide")
                .input-slide__date
                  p Ко времени
                  .input-base.popup__input-base
                    .input-base__input-field
                      input#popup-text.input-base__input(type='text', name='text', placeholder='Например, 1 сентября в 14:00', required='')
                      .input-base__info-icon
                        svg.icon-valid.input-base__valid
                          use(xlink:href='img/sprites/symbol/sprite.svg#valid')
                        svg.icon-non-valid.input-base__non-valid
                          use(xlink:href='img/sprites/symbol/sprite.svg#non-valid')
            .popup__btn
              +btn-default-submit('Позвоните мне')
            .form-side__accept-conf
              include ../../components/accept-conf/accept-conf
      .popup__img
        picture
          source(
            srcset="img/popups/popup_girl.png"
            data-srcset=`img/popups/popup_girl.png`
            media="(min-width: 1123px)"
          )
          source(
            srcset="img/popups/popup_girl_pl.png"
            data-srcset=`img/popups/popup_girl_pl.png`
            media="(min-width: 768px)"
          )
          source(
            srcset="img/popups/popup_girl_mob.png"
            data-srcset=`img/popups/popup_girl_mob.png` 
            media="(min-width: 320px)"
          )
          img(src="img/popups/popup_girl.png", data-src=`img/popups/popup_girl.png` alt="raguzina")
        .popup__img-descr 
          span Юлия Рагузина 
          | | генеральный директор «ДКБ ПрофУчет»
section.popup.popup-call.popup01
  .popup__colored
    .popup__close
    .container.popup__body
      .popup__content
        .popup__subtitle
          .NSerif-28-42-reg Оставьте свои контакты, чтобы узнать точную стоимость бухгалтерского обслуживания для вашей компании
        .popup__descr Вместе с расчетом стоимости вы получите:
        ul.popup__list
          li.popup__list-item Индивидуальное коммерческое предложение с возможностью сэкономить от 10 до 50% на бухгалтерском обслуживании 
          li.popup__list-item Пакет документов для принятия решения о внедрении аутсорсинга бухгалтерии — договор, регламент оказания услуг, презентацию
        .popup__form
          form(action="" id="popup" method="post" autocomplete="off")
            .popup__form-line
              +input-base-phone(inputs[4])
              +input-base-email(inputs[5])
            .popup__btn
              +btn-default-submit('получить точный расчет и материалы')
            .form-side__accept-conf
              include ../../components/accept-conf/accept-conf
      .popup__img
        picture
          source(
            srcset="img/popups/popup_girl.png"
            data-srcset=`img/popups/popup_girl.png`
            media="(min-width: 1123px)"
          )
          source(
            srcset="img/popups/popup_girl_pl.png"
            data-srcset=`img/popups/popup_girl_pl.png`
            media="(min-width: 768px)"
          )
          source(
            srcset="img/popups/popup_girl_mob.png"
            data-srcset=`img/popups/popup_girl_mob.png` 
            media="(min-width: 320px)"
          )
          img(src="img/popups/popup_girl.png", data-src=`img/popups/popup_girl.png` alt="mail-logo")
        .popup__img-descr 
          span Юлия Рагузина 
          | | генеральный директор «ДКБ ПрофУчет»
section.popup.popup-call.popup02
  .popup__colored
    .popup__close
    .container.popup__body
      .popup__content
        .popup__subtitle
          .NSerif-28-42-reg Собираете коммерческие предложения по бухгалтерскому обслуживанию для своего руководителя?
        .popup__descr 
          span Оставьте свои контакты и получите полный комплект документов, 
          | необходимых руководителю для принятия решения: 
        ul.popup__list
          li.popup__list-item Индивидуальное коммерческое предложение с возможностью сэкономить от 10 до 50% на аутсорсинге бухгалтерии 
          li.popup__list-item Точный расчет стоимости бухгалтерского сопровождения 
          li.popup__list-item Краткую презентацию компании 
          li.popup__list-item Договор на бухгалтерское обслуживание 
          li.popup__list-item Регламент оказания бухгалтерских услуг
        .popup__form
          form(action="" id="popup" method="post" autocomplete="off")
            .popup__form-line
              +input-base-phone(inputs[4])
              +input-base-email(inputs[6])
            .popup__btn
              +btn-default-submit('получить комлект документов')
            .form-side__accept-conf
              include ../../components/accept-conf/accept-conf
      .popup__img
        img(src="img/popups/popup_docs.png", data-src=`img/popups/popup_docs.png` alt="docs")
section.popup.popup-call.popup03
  .popup__colored
    .popup__close
    .container.popup__body
      .popup__content
        .popup__subtitle
          .NSerif-28-42-reg Бухгалтер бросил вас перед проверкой или в разгар отчетности? Или просто исчез вместе с бухгалтерской базой?
        .popup__descr
          span Мы быстро разберемся в ситуации и решим проблемы с вашей бухгалтерией и налогами
          | Укажите контактные данные и удобное время для звонка. Я позвоню вам, и мы обсудим решение вашей проблемы
        .popup__form
          form(action="" id="popup" method="post" autocomplete="off")
            .popup__form-line
              +input-base(inputs[2])
              +input-base-phone(inputs[1])
            label(class="input-base__label") Выберите время для звонка
            .popup__form-line  
              .input-slide-wrap
                input(type="checkbox" value="none" id="input-slide2" name="check" checked)
                .input-slide__now
                  p Сейчас 
                .input-slide
                  label(for="input-slide2")
                .input-slide__date
                  p Ко времени
                  .input-base.popup__input-base
                    .input-base__input-field
                      input#popup-text.input-base__input(type='text', name='text', placeholder='Например, 1 сентября в 14:00', required='')
                      .input-base__info-icon
                        svg.icon-valid.input-base__valid
                          use(xlink:href='img/sprites/symbol/sprite.svg#valid')
                        svg.icon-non-valid.input-base__non-valid
                          use(xlink:href='img/sprites/symbol/sprite.svg#non-valid')
            .popup__btn
              +btn-default-submit('позвоните мне')
            .form-side__accept-conf
              include ../../components/accept-conf/accept-conf
      .popup__img
        picture
          source(
            srcset="img/popups/popup_girl.png"
            data-srcset=`img/popups/popup_girl.png`
            media="(min-width: 1123px)"
          )
          source(
            srcset="img/popups/popup_girl_pl.png"
            data-srcset=`img/popups/popup_girl_pl.png`
            media="(min-width: 768px)"
          )
          source(
            srcset="img/popups/popup_girl_mob.png"
            data-srcset=`img/popups/popup_girl_mob.png` 
            media="(min-width: 320px)"
          )
          img(src="img/popups/popup_girl.png", data-src=`img/popups/popup_girl.png` alt="raguzina")
        .popup__img-descr 
          span Юлия Рагузина 
          | | генеральный директор «ДКБ ПрофУчет»
//- Pop-up_comparePrice
section.popup.popup-feedback.popup-compare
  .popup__close
  .container
    .popup__content
      .popup__subtitle
        .NSerif-28-42-reg Выбирать компанию по бухгалтерскому сопровождению путем сравнения цен бессмысленно
      .popup__descr
        | У каждой бухгалтерской фирмы свои алгоритмы расчета стоимости услуг — стандарта на рынке бухгалтерского аутсорсинга не существует. Итоговая сумма зависит от многих факторов.
        span  Вот что может влиять на цену бухгалтерских услуг:
      ul.popup__list
        li.popup__list-item система налогообложения и разнообразие видов деятельности;
        li.popup__list-item количество подразделений и штатных сотрудников;
        li.popup__list-item количество и типы бухгалтерских операций; объем выручки;
        li.popup__list-item список услуг, которые включены в стоимость;
        li.popup__list-item объем и качество сервиса <br>(бесплатные или платные бухгалтерские и правовые программы, количество консультаций, оперативность реакции на запросы, скорость подготовки документов...)
      .popup__descr Посмотрите, что входит в базовый пакет обслуживания в нашей компании или получите точный расчет стоимости бухгалтерского сопровождения для вашего бизнеса
      .popup__btn
        +btn-default-submit('получить личную консультацию гендиректора')
//- feedback01 = feedback price
section.popup.popup-feedback.popup-feedback01
  .popup__close
  .container
    .popup__content
      .popup-feedback__img
        img(src="img/popups/popup_feedback.png", data-src=`img/popups/popup_feedback.png` alt="feedback")
        .popup-feedback__img-descr Юлия Рагузина <br>генеральный директор «ДКБ ПрофУчет»
      .popup__title
        +title-section-40-51('Спасибо за заявку!')
      .popup__subtitle
        .NSerif-28-42-reg Я перезвоню Вам в ближайшее время, чтобы уточнить данные для подготовки точного расчета стоимости бухгалтерского обслуживания
      .popup__descr
        span В течение 30 минут после звонка вы получите на почту точный расчет и пакет документов, 
        | необходимых для выбора бухгалтерской компании:
      ul.popup__list
        li.popup__list-item Индивидуальное коммерческое предложение с возможностью сэкономить от 10 до 50% на аутсорсинге бухгалтерии 
        li.popup__list-item Краткую презентацию нашей компании 
        li.popup__list-item Договор на бухгалтерское обслуживание 
        li.popup__list-item Регламент оказания бухгалтерских услуг 
  .popup__colored
    .container
      .popup__descr
        | А пока вы ждете звонка, 
        br
        span присоединяйтесь к нам в соцсетях,
        br
        | чтобы регулярно получать полезные рекомендации по бухгалтерским, налоговым и кадровым вопросам 
      .popup-social
        +soc-links-bottom('fb', '')
        +soc-links-bottom('vk', '')
        +soc-links-bottom('instagram', '')
//- feedback02
section.popup.popup-feedback.popup-feedback01
  .popup__close
  .container
    .popup__content
      .popup-feedback__img
        img(src="img/popups/popup_feedback.png", data-src=`img/popups/popup_feedback.png` alt="feedback")
        .popup-feedback__img-descr Юлия Рагузина <br>генеральный директор «ДКБ ПрофУчет»
      .popup__title
        +title-section-40-51('Спасибо за заявку!')
      .popup__subtitle
        .NSerif-28-42-reg Я перезвоню Вам в ближайшее время, на номер +7 915 400-20-30, чтобы уточнить детали для подготовки индивидуального коммерческого предложения и точного расчета стоимости услуг
      .popup__notice
        span Изменить номер телефона
      .popup__descr
        span В течение 30 минут после звонка вы получите полный комплект документов, 
        | необходимых вашему руководителю, чтобы принять решение о выборе бухгалтерской компании
  .popup__colored
    .container
      .popup__descr
        | А пока вы ждете звонка, 
        br
        span присоединяйтесь к нам в соцсетях,
        br
        | чтобы регулярно получать полезные рекомендации по бухгалтерским, налоговым и кадровым вопросам 
      .popup-social
        +soc-links-bottom('fb', '')
        +soc-links-bottom('vk', '')
        +soc-links-bottom('instagram', '')
//- Feedback_expressanaliz
section.popup.popup-feedback.popup-feedback01
  .popup__close
  .container
    .popup__content
      .popup-feedback__img
        img(src="img/popups/popup_feedback.png", data-src=`img/popups/popup_feedback.png` alt="feedback")
        .popup-feedback__img-descr Юлия Рагузина <br>генеральный директор «ДКБ ПрофУчет»
      .popup__title
        +title-section-40-51('Спасибо за заявку!')
      .popup__subtitle
        .NSerif-28-42-reg Я перезвоню Вам в ближайшее время, чтобы согласовать время для бесплатного экспресс-анализа вашей бухгалтерии 
      .popup__schedule Мы работаем по будням с 9:00 до 18:00 
      .popup__descr
        | После проведения экспресс-анализа вы получите 
        span индивидуальное коммерческое предложение 
        | и точный 
        span расчет стоимости  
        | бухгалтерского обслуживания 
  .popup__colored
    .container
      .popup__descr
        | А пока вы ждете звонка, 
        br
        span присоединяйтесь к нам в соцсетях,
        br
        | чтобы регулярно получать полезные рекомендации по бухгалтерским, налоговым и кадровым вопросам 
      .popup-social
        +soc-links-bottom('fb', '')
        +soc-links-bottom('vk', '')
        +soc-links-bottom('instagram', '')
//- Feedback03
section.popup.popup-feedback.popup-feedback01.popup-feedback03
  .popup__close
  .container
    .popup__content
      .popup__title
        +title-section-40-51('Игорь, спасибо за заявку!')
      .popup__subtitle
        .NSerif-28-42-reg Мы перезвоним вам в ближайшее время
  .popup__colored
    .container
      .popup__descr
        | А пока вы ждете звонка, 
        br
        span присоединяйтесь к нам в соцсетях,
        br
        | чтобы регулярно получать полезные рекомендации по бухгалтерским, налоговым и кадровым вопросам 
      .popup-social
        +soc-links-bottom('fb', '')
        +soc-links-bottom('vk', '')
        +soc-links-bottom('instagram', '')
//- Feedback03-2
section.popup.popup-feedback.popup-feedback01.popup-feedback03
  .popup__close
  .container
    .popup__content
      .popup__title
        +title-section-40-51('Игорь, спасибо за заявку!')
      .popup__subtitle
        .NSerif-28-42-reg Мы перезвоним вам в указанное время
  .popup__colored
    .container
      .popup__descr
        | А пока вы ждете звонка, 
        br
        span присоединяйтесь к нам в соцсетях,
        br
        | чтобы регулярно получать полезные рекомендации по бухгалтерским, налоговым и кадровым вопросам 
      .popup-social
        +soc-links-bottom('fb', '')
        +soc-links-bottom('vk', '')
        +soc-links-bottom('instagram', '')
//- Pop-up_expressanaliz
section.popup.popup-feedback.popup-feedback01.popup-expressanaliz
  .popup__close
  .container
    .popup__content
      .popup-feedback__img
        img(src="img/popups/popup_feedback.png", data-src=`img/popups/popup_feedback.png` alt="feedback")
      .popup__subtitle
        .NSerif-28-42-reg Новым клиентам мы дарим экспресс-анализ бухгалтерии, благодаря которому вы поймете:
      ul.popup__list
        li.popup__list-item соответствует ли бухгалтерская и налоговая отчетность, которую вам предоставляет бухгалтер, реальному состоянию дел в компании 
        li.popup__list-item не платит ли бухгалтер больше налогов, чем это необходимо 
        li.popup__list-item правильно ли посчитаны финансовые показатели 
        li.popup__list-item есть ли ошибки и проблемные места в учете и отчетности
      .popup__descr В результате вы работаете без кассовых разрывов, вовремя рассчитываетесь с поставщиками и можете планировать свою деятельность
      a(href="").popup__notice
        span Получить экспресс-анализ своей бухгалтерии 
//- feedback_ consult
section.popup.popup-feedback.popup-feedback01.popup__consult
  .popup__close
  .container
    .popup__content
      .popup-feedback__img
        img(src="img/popups/popup_feedback.png", data-src=`img/popups/popup_feedback.png` alt="feedback")
        .popup-feedback__img-descr Юлия Рагузина <br>генеральный директор «ДКБ ПрофУчет»
      .popup__title
        +title-section-40-51('Спасибо за заявку <br>на консультацию!')
      .popup__subtitle
        .NSerif-28-42-reg Я перезвоню вам в ближайшее время, чтобы согласовать время для проведения личной консультации по оптимизации бухгалтерии вашей компании
  .popup__colored
    .container
      .popup__descr
        | А пока вы ждете звонка, 
        br
        span посмотрите презентацию о нашей компании
        br
        | чи узнайте, как получить скидку от 10 до 50% на бухгалтерское обслуживание
      .popup__descr
        .popup__form
          form(action="" id="popup" method="post" autocomplete="off").popup__form-content
            +input-base-email(inputs[0])
            .popup__btn
              +btn-default-submit('получить презентацию')
            .form-side__accept-conf
              include ../../components/accept-conf/accept-conf
//- Julia
section.popup.popup-feedback.popup-feedback01.popup-julia
  .popup__close
  .container
    .popup__content
      .popup__subtitle
        .NSerif-28-42-reg Юлия Рагузина 
      .popup__descr генеральный директор «ДКБ ПрофУчет»        
      ul.popup__list
        li.popup__list-item Аттестованный главный бухгалтер 
        li.popup__list-item 19 лет опыта ведения бухгалтерии 
        li.popup__list-item Член палаты налоговых консультантов России 
        li.popup__list-item Член Института профессиональных бухгалтеров России 
      .popup-julia__img
        img(src="img/popups/popup_cert.jpg", data-src=`img/popups/popup_cert.jpg` alt="raguzina")
//- exit
section.popup.popup-exit
  .popup__close
  .container
    .popup__content
      .popup-exit__title Получите 2 чек-листа.<br>Проверьте работу бухгалтера и оградите компанию от переплат, проверок и штрафов
      ul.popup-exit__list
        li.popup-exit__list-item 
          .popup-exit__img
            img(src="img/popups/popup_cert1.png", data-src=`img/popups/popup_cert1.png` alt="cert")
          .popup-exit__text 
            span 5 признаков недобросовестной работы бухгалтера, 
            | которые приводят к проверкам и штрафам
        li.popup-exit__list-item
          .popup-exit__img
            img(src="img/popups/popup_cert1.png", data-src=`img/popups/popup_cert1.png` alt="cert")
          .popup-exit__text 
            span 6 главных недоработок бухгалтера, 
            | из-за которых собственник теряет деньги
      .popup__schedule Получить чек-листы на почту
      .popup__form
        form(action="" id="popup-exit" method="post" autocomplete="off").popup__form-content
          .input-base.popup__input-base
            .input-base__input-field
              input(class="input-base__input" type="email" id="popup-email" name="email" placeholder="hello@gmai.com" required="")
              .popup-exit__arrow
                svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 36 14', fill='none')
                  g(opacity='0.6')
                    path(d='M1 7H33', stroke='#0461FD', stroke-width='2')
                    path(d='M28 13L34.7202 6.27985', stroke='#0461FD', stroke-width='2')
                    path(d='M34.7197 7.72021L27.9996 1.00006', stroke='#0461FD', stroke-width='2')
                    path(d='M6 7C6 8.65685 4.65685 10 3 10C1.34315 10 0 8.65685 0 7C0 5.34315 1.34315 4 3 4C4.65685 4 6 5.34315 6 7Z', fill='#0461FD')

              .input-base__info-icon
                svg(class="icon-valid input-base__valid")
                  use(xlink:href="img/sprites/symbol/sprite.svg#valid")
                svg(class="icon-non-valid input-base__non-valid")
                  use(xlink:href="img/sprites/symbol/sprite.svg#non-valid")
          .form-side__accept-conf
            include ../../components/accept-conf/accept-conf
