mixin s-feature(content)
  .s-feature(class=`s-feature--${content.number}`)
    .s-feature__pic-block(class=`${content.order ? 's-feature__pic-block--' + content.order : ''}`)
      .s-feature__img-block
        picture
          source(
            srcset="img/general/empty.png"
            data-srcset=`img/s-features/s-features-${content.number}_tablet_2x.webp` 
            media="(max-width: 768px)"
            type="image/webp"
          )
          source(
            srcset="img/general/empty.png"
            data-srcset=`img/s-features/s-features-${content.number}_desktop_1x.webp` 
            type="image/webp"
          )
          img(src="img/general/empty.png", data-src=`img/s-features/s-features-${content.number}_desktop_1x.jpg` alt="content.title").lazyImg
    .s-feature__text-block
      h4.s-feature__title!= content.title
      each desc in content.description
        p.s-feature__description!= desc

mixin s-feature-list(content)
  .s-feature(class=`s-feature--${content.number}`)
    .s-feature__pic-block(class=`${content.order ? 's-feature__pic-block--' + content.order : ''}`)
      .s-feature__img-block
        picture
          source(
            srcset="img/general/empty.png"
            data-srcset=`img/s-features/s-features-${content.number}_tablet_2x.webp` 
            media="(max-width: 768px)"
            type="image/webp"
          )
          source(
            srcset="img/general/empty.png"
            data-srcset=`img/s-features/s-features-${content.number}_desktop_1x.webp` 
            type="image/webp"
          )
          img(src="img/general/empty.png", data-src=`img/s-features/s-features-${content.number}_desktop_1x.jpg` alt="content.title").lazyImg
    .s-feature__text-block
      h4.s-feature__title!= content.title
      p.s-feature__description!= content.description
      ul.s-feature__list
        each item in content.litems
          li.s-feature__l-item!= item

mixin s-feature-list-2(content)
  .s-feature(class=`s-feature--${content.number}`)
    .s-feature__pic-block(class=`${content.order ? 's-feature__pic-block--' + content.order : ''}`)
      .s-feature__img-block
        picture
          source(
            srcset="img/general/empty.png"
            data-srcset=`img/s-features/s-features-${content.number}_tablet_2x.webp` 
            media="(max-width: 768px)"
            type="image/webp"
          )
          source(
            srcset="img/general/empty.png"
            data-srcset=`img/s-features/s-features-${content.number}_desktop_1x.webp` 
            type="image/webp"
          )
          img(src="img/general/empty.png", data-src=`img/s-features/s-features-${content.number}_desktop_1x.jpg` alt="content.title").lazyImg
    .s-feature__text-block
      h4.s-feature__title!= content.title
      p.s-feature__description!= content.description
      ul.s-feature__list
        each item in content.litems
          li.s-feature__l-item!= item
      p.s-feature__description!= content.description2